@keyframes shipy {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(60px);
  }
}
@keyframes ufo {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.34, 0.15, 0.61, 1);
  }
  20% {
    transform: rotate(-5deg);
    animation-timing-function: cubic-bezier(0.34, 0.15, 0.61, 1);
  }
  65% {
    transform: rotate(6deg);
    animation-timing-function: linear;
  }
}
@keyframes ufowin {
  0%,
  to {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(33px) translateY(-4px);
  }
}
@keyframes ufowinscale {
  0%,
  50%,
  to {
    transform: scaleX(1);
  }
  25%,
  75% {
    transform: scaleX(1.2);
  }
}
@keyframes beamfront {
  0%,
  to {
    transform: scaleX(1) skewX(0) skewY(0);
  }
  45% {
    transform: scaleX(1.6) skewX(2deg) skewY(1.4deg) rotate(-4deg)
      translateX(-8px);
  }
  0%,
  25%,
  50%,
  75%,
  to {
    opacity: 0.5;
  }
  12.5%,
  37.5%,
  62%,
  87.5% {
    opacity: 0.9;
  }
}
@keyframes beamfront2 {
  0%,
  to {
    transform: scaleX(1) skewX(0) skewY(0);
  }
  45% {
    transform: scaleX(1.6) skewX(1deg) rotate(-10deg) translateX(-10px)
      translateY(-2px);
  }
  0%,
  25%,
  50%,
  75%,
  to {
    opacity: 0.9;
  }
  12.5%,
  37.5%,
  62%,
  87.5% {
    opacity: 0.5;
  }
}
@keyframes moonwalk {
  0% {
    transform: rotate(0deg);
  }
  10.6% {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes starblink {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  5.3% {
    transform: rotate(45deg) scale(1.1);
  }
  10.6% {
    transform: rotate(90deg) scale(0);
    opacity: 1;
  }
  .05% {
    opacity: 1;
  }
  11%,
  to {
    opacity: 0;
  }
}
@keyframes shootingstar {
  2.27% {
    stroke-dashoffset: 0;
  }
  4.54%,
  to {
    stroke-dashoffset: -200;
  }
}
@keyframes shootingstar22 {
  2.27% {
    stroke-dashoffset: 0;
  }
  4.54%,
  to {
    stroke-dashoffset: -500;
  }
}
@keyframes shootingstar6 {
  2.27% {
    stroke-dashoffset: 0;
  }
  4.54%,
  to {
    stroke-dashoffset: -220;
  }
}
@keyframes clouds {
  50% {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0);
  }
}
#galinv.svgmate .shipy {
  animation-name: shipy;
  animation-timing-function: ease-in-out;
}
#galinv.svgmate #Window,
#galinv.svgmate .shipy,
#galinv.svgmate .ufo {
  animation-iteration-count: infinite;
  animation-duration: 2.68s;
}
#galinv.svgmate .ufo {
  transform-origin: 312.8px 175.2px;
  animation-name: ufo;
}
#galinv.svgmate #Window {
  animation-name: ufowin;
  animation-timing-function: ease-in-out;
}
#galinv.svgmate .beams,
#galinv.svgmate .beams2,
#galinv.svgmate .themoon,
#galinv.svgmate .winscale {
  animation-name: ufowinscale;
  animation-iteration-count: infinite;
  animation-duration: 2.68s;
  animation-timing-function: ease-in-out;
  transform-origin: 312.8px;
}
#galinv.svgmate .beams,
#galinv.svgmate .beams2,
#galinv.svgmate .themoon {
  animation-name: beamfront;
  transform-origin: 312.8px 175.2px;
}
#galinv.svgmate .beams2,
#galinv.svgmate .themoon {
  animation-name: beamfront2;
  transform-origin: 312.8px 185.2px;
}
#galinv.svgmate .themoon {
  animation-name: moonwalk;
  animation-duration: 2.64s;
  animation-timing-function: ease-out;
  transform-origin: 626px 192px;
}
#galinv.svgmate .star1,
#galinv.svgmate .star2,
#galinv.svgmate .star3,
#galinv.svgmate .star4,
#galinv.svgmate .star5,
#galinv.svgmate .star6 {
  animation-name: starblink;
  animation-iteration-count: infinite;
  animation-duration: 2.64s;
  animation-timing-function: ease-in-out;
  transform-origin: 441.25px 278.7px;
  animation-delay: 0s;
  opacity: 0;
}
#galinv.svgmate .star2,
#galinv.svgmate .star3,
#galinv.svgmate .star4,
#galinv.svgmate .star5,
#galinv.svgmate .star6 {
  transform-origin: 125.8px 315.75px;
  animation-delay: 0.28s;
}
#galinv.svgmate .star3,
#galinv.svgmate .star4,
#galinv.svgmate .star5,
#galinv.svgmate .star6 {
  transform-origin: 713.65px 178.1px;
  animation-delay: 0.84s;
}
#galinv.svgmate .star4,
#galinv.svgmate .star5,
#galinv.svgmate .star6 {
  transform-origin: 732px 418.85px;
  animation-delay: 1.36s;
}
#galinv.svgmate .star5,
#galinv.svgmate .star6 {
  transform-origin: 168.3px 194.7px;
  animation-delay: 1.64s;
}
#galinv.svgmate .star6 {
  transform-origin: 552.1px 174.7px;
  animation-delay: 2.16s;
}
#galinv.svgmate #LaserLine_1,
#galinv.svgmate #LaserLine_2,
#galinv.svgmate #LaserLine_3,
#galinv.svgmate #LaserLine_4,
#galinv.svgmate #LaserLine_5 {
  animation-name: shootingstar;
  animation-iteration-count: infinite;
  animation-duration: 2.64s;
  animation-timing-function: linear;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-delay: 0.12s;
}
#galinv.svgmate #LaserLine_2,
#galinv.svgmate #LaserLine_3,
#galinv.svgmate #LaserLine_4,
#galinv.svgmate #LaserLine_5 {
  animation-delay: 0.24s;
}
#galinv.svgmate #LaserLine_3,
#galinv.svgmate #LaserLine_4,
#galinv.svgmate #LaserLine_5 {
  animation-delay: 0.36s;
}
#galinv.svgmate #LaserLine_4,
#galinv.svgmate #LaserLine_5 {
  animation-delay: 0.48s;
}
#galinv.svgmate #LaserLine_5 {
  animation-delay: 0.6s;
}
#galinv.svgmate #LaserLine_10,
#galinv.svgmate #LaserLine_6,
#galinv.svgmate #LaserLine_7,
#galinv.svgmate #LaserLine_8,
#galinv.svgmate #LaserLine_9 {
  animation-name: shootingstar6;
  animation-iteration-count: infinite;
  animation-duration: 2.64s;
  animation-timing-function: linear;
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation-fill-mode: forwards;
  animation-delay: 0.72s;
}
#galinv.svgmate #LaserLine_10,
#galinv.svgmate #LaserLine_7,
#galinv.svgmate #LaserLine_8,
#galinv.svgmate #LaserLine_9 {
  animation-name: shootingstar;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation-delay: 0.84s;
}
#galinv.svgmate #LaserLine_10,
#galinv.svgmate #LaserLine_8,
#galinv.svgmate #LaserLine_9 {
  animation-delay: 0.96s;
}
#galinv.svgmate #LaserLine_10,
#galinv.svgmate #LaserLine_9 {
  animation-delay: 1.08s;
}
#galinv.svgmate #LaserLine_10 {
  animation-delay: 1.2s;
}
#galinv.svgmate #LaserLine_11,
#galinv.svgmate #LaserLine_12,
#galinv.svgmate #LaserLine_13,
#galinv.svgmate #LaserLine_14,
#galinv.svgmate #LaserLine_15,
#galinv.svgmate #LaserLine_16,
#galinv.svgmate #LaserLine_17 {
  animation-name: shootingstar;
  animation-iteration-count: infinite;
  animation-duration: 2.64s;
  animation-timing-function: linear;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-delay: 1.32s;
}
#galinv.svgmate #LaserLine_12,
#galinv.svgmate #LaserLine_13,
#galinv.svgmate #LaserLine_14,
#galinv.svgmate #LaserLine_15,
#galinv.svgmate #LaserLine_16,
#galinv.svgmate #LaserLine_17 {
  animation-delay: 1.44s;
}
#galinv.svgmate #LaserLine_13,
#galinv.svgmate #LaserLine_14,
#galinv.svgmate #LaserLine_15,
#galinv.svgmate #LaserLine_16,
#galinv.svgmate #LaserLine_17 {
  animation-delay: 1.56s;
}
#galinv.svgmate #LaserLine_14,
#galinv.svgmate #LaserLine_15,
#galinv.svgmate #LaserLine_16,
#galinv.svgmate #LaserLine_17 {
  animation-delay: 1.68s;
}
#galinv.svgmate #LaserLine_15,
#galinv.svgmate #LaserLine_16,
#galinv.svgmate #LaserLine_17 {
  animation-delay: 1.8s;
}
#galinv.svgmate #LaserLine_16,
#galinv.svgmate #LaserLine_17 {
  animation-delay: 1.92s;
}
#galinv.svgmate #LaserLine_17 {
  animation-delay: 2.02s;
}
#galinv.svgmate #LaserLine_18,
#galinv.svgmate #LaserLine_19,
#galinv.svgmate #LaserLine_20,
#galinv.svgmate #LaserLine_21,
#galinv.svgmate #LaserLine_22,
#galinv.svgmate #LaserLine_23,
#galinv.svgmate #LaserLine_24 {
  animation-name: shootingstar;
  animation-iteration-count: infinite;
  animation-duration: 2.64s;
  animation-timing-function: linear;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation-fill-mode: forwards;
  animation-delay: 2.14s;
}
#galinv.svgmate #LaserLine_19,
#galinv.svgmate #LaserLine_20,
#galinv.svgmate #LaserLine_21,
#galinv.svgmate #LaserLine_22,
#galinv.svgmate #LaserLine_23,
#galinv.svgmate #LaserLine_24 {
  animation-delay: 2.26s;
}
#galinv.svgmate #LaserLine_20,
#galinv.svgmate #LaserLine_21,
#galinv.svgmate #LaserLine_22,
#galinv.svgmate #LaserLine_23,
#galinv.svgmate #LaserLine_24 {
  animation-delay: 2.38s;
}
#galinv.svgmate #LaserLine_21,
#galinv.svgmate #LaserLine_22,
#galinv.svgmate #LaserLine_23,
#galinv.svgmate #LaserLine_24 {
  animation-delay: 2.5s;
}
#galinv.svgmate #LaserLine_22,
#galinv.svgmate #LaserLine_23,
#galinv.svgmate #LaserLine_24 {
  animation-name: shootingstar22;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-delay: 2.64s;
}
#galinv.svgmate #LaserLine_23,
#galinv.svgmate #LaserLine_24 {
  animation-name: shootingstar;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation-delay: 2.26s;
}
#galinv.svgmate #LaserLine_24 {
  animation-delay: 2.64s;
}
#galinv.svgmate #Cloud1,
#galinv.svgmate #Cloud2 {
  animation-name: clouds;
  animation-iteration-count: infinite;
  animation-duration: 2.64s;
  animation-timing-function: ease-in-out;
  transform-origin: 200px 425px;
}
#galinv.svgmate #Cloud2 {
  transform-origin: 450px 385px;
}
